@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmployeeData</title>
</head>
<body>
    @Model.EmployeeId
    @Model.EmployeeName
    @Model.EmployeeSal
</body>
</html>
