@model Employee

@{
    ViewData["Title"] = "EmployeeForm";
}

<h1>EmployeeForm</h1>

<form asp-controller="Home" asp-action="DisplayEmployeeData" method="post" class="form-group">

    EmpId: <input type="text" asp-for="EmployeeId" class="form-control"/><span asp-validation-for="EmployeeId" class="alert-danger" ></span><br />
    EmpName: <input type="text" asp-for="EmployeeName" class="form-control"/><span asp-validation-for="EmployeeName" class="alert-danger" ></span><br />
    EmpSalary: <input type="text" asp-for="EmployeeSal" class="form-control"/><span asp-validation-for="EmployeeSal" class="alert-danger"></span><br />
    <button type="submit">Submit</button>

</form>