
@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <h1>Birthday Party</h1>
    </div>
    <div class="col-4">

    </div>
</div>

<div class="row" style="background-image: url('../../Ballons.jpg');">
    <div class="col-3"></div>
    <div class="col-6 d-flex justify-content-center align-items-center">
        <p>
            Hey girls slip on your Dress,
            Hey boys put on your Ties,
            You are all invited in my birthday party which is going to be stunning high.
            <a asp-controller="BirthdayParty" asp-action="RegistrationForm">Register yourself here</a>
        </p>
    </div>
    <div class="col-3"></div>
</div>

