@page "{id:int}"
@model RazorWebPages.Pages.Employees.DetailsModel
@{
}
<h3>Details</h3>
<table>
    <tr>Employee Id</tr>
    <tr>@Model.Employee.Id</tr>

    <tr>Employee Id</tr>
    <tr>@Model.Employee.Name</tr>

    <tr>Employee Id</tr>
    <tr>@Model.Employee.Email</tr>

    <tr>Employee Id</tr>
    <tr>@Model.Employee.Department</tr>

    <tr>
        <td>
            <a asp-page="index">Back</a>
            <a href="#">Edit</a>
            <a href="#">Edit</a>

        </td>
    </tr>
</table>